.mouse{
  text-align:center;
  padding:20px 0px;
  font-size:20px;
}

.rollerblade{
  width: 100%;
  height: auto;
  display: block;
  img{
    width: 100%;
  }
}

.rollerblade-img {	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	
}


.rollerblade-drag {
	cursor:move;
}

